{% extends 'base.html.twig' %}

{% block title %}Посты{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <h6 class="border-bottom border-gray pb-2 mb-8">Недавниие обновления</h6>

    {% for post in posts %}
        <a href="{{ path('micro_post_show', {id: post.id}) }}">
            {{ include('post.html.twig', {'post': post}) }}
        </a>

        <small class="d-block text-right mt-3">
			{% if is_granted('edit', post) %}
				<a href="{{ path('micro_post_edit', {id: post.id}) }}">Обновить</a>
			{% endif %}
			{% if is_granted('delete', post) %}
				<a href="{{ path('micro_post_delete', {id: post.id}) }}">Удалить</a>
			{% endif %}
        </small>
    {% endfor %}
{% endblock %}
