{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    {#% if error %#}
        <!--div class="alert alert-danger">{#{ error.messageKey|trans(error.messageData, 'security') }#}</div-->
    {#% endif %#}

    <form method="post" action="{{ path('security_login') }}">
        <div>
            <h3 class="h3 mb-3 font-weight-normal">Авторизация</h3>
            <div class="form-group">
                <label for="username" class="form-control-label required">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
                <label for="password" class="form-control-label required">Пароль</label>
                <input type="password" name="_password" id="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
            </div>
            <div class="form-group">
                <button class="btn-secondary btn" id="login" type="submit">Авторизоваться</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}" />
        </div>
    </form>
{% endblock %}
