<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-dark navbar-md sticky-top bg-dark p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('micro_post_index') }}">
                Микро-посты
            </a>
            <div class="w-100 order-1 order-md-0">
                <ul class="navbar-nav px-3">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('micro_post_add') }}">Создать пост</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="order-2 order-md-1">
                <ul class="navbar-nav px-3">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{#{ path('security_login') }#}">{{ app.user.fullName }}</a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ logout_path() }}">Выйти</a>
                        </li>
                    {% else %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('security_login') }}">Авторизация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="sy-3 p-3 bg-white rounded box-shadow">
                {% block body %}{% endblock %}
            </div>
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
